<html>
    <body>
    <img src="{{ datamatrix.path }}" style="float:left;margin-left:20px;margin-right:20px" width="50" height="50"/>
    <img src="{{ mailid.path }}" style="float:right;margin-right:50px;margin-top:300px" width="200" height="50"/>
    </body>
</html>