<html>
<head>
    <style>
        table{
            margin-left:auto;
            margin-right:auto;
        }
        .type, thead {
            font-weight: bold;
        }
        th, td {
            border-bottom: 1px solid #ddd;
            margin: 2px;
            padding: 15px;
            text-align: center;
        }
        body {
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
    <body>
    <h1>Pdf-Benchmark results</h1>
        <h2>For {{ count }} elements generated every time (in seconds).</h2>
        <table >
            <thead>
                <td></td>
                <td><a href="https://community.coherentpdf.com/">Cpdf</a></td>
                <td><a href="http://www.fpdf.org/">Fpdf</a></td>
                <td><a href="https://www.setasign.com/products/fpdi/about/">Fpdi</a></td>
                <td><a href="https://html2pdf.fr/">Html2Pdf</a></td>
                <td><a href="https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/">Pdftk</a></td>
                <td><a href="https://www.setasign.com/products/setapdf-core/details/">SetasignCore</a></td>
                <td><a href="https://tcpdf.org/">Tcpdf</a></td>
                <td><a href="https://wkhtmltopdf.org/">Wkhtmltopdf</a></td>
                <td><a href="https://mpdf.github.io/">mPDF</a></td>
                <td><a href="https://github.com/dompdf/dompdf">DOMPdf</a></td>
            </thead>
            {% for type, libs in results %}
                <tr>
                    <td class="type">{{ type }}</td>
                    <td>{{  libs.CPDF is defined ? libs.CPDF|number_format(4, ',', ' ') : 'X'}}</td>
                    <td>{{  libs.Fpdf is defined ? libs.Fpdf|number_format(4, ',', ' ') : 'X'}}</td>
                    <td>{{  libs.Fpdi is defined ? libs.Fpdi|number_format(4, ',', ' ') : 'X'}}</td>
                    <td>{{  libs.Html2Pdf is defined ? libs.Html2Pdf|number_format(4, ',', ' ') : 'X'}}</td>
                    <td>{{  libs.PDFTK is defined ? libs.PDFTK|number_format(4, ',', ' ') : 'X'}}</td>
                    <td>{{  libs.SetasignCore is defined ? libs.SetasignCore|number_format(4, ',', ' ') : 'X'}}</td>
                    <td>{{  libs.TCPDF is defined ? libs.TCPDF|number_format(4, ',', ' ') : 'X'}}</td>
                    <td>{{  libs.Wkhtmltopdf is defined ? libs.Wkhtmltopdf|number_format(4, ',', ' ') : 'X'}}</td>
                    <td>{{  libs.mPDF is defined ? libs.mPDF|number_format(4, ',', ' ') : 'X'}}</td>
                    <td>{{  libs.DOMPDF is defined ? libs.DOMPDF|number_format(4, ',', ' ') : 'X'}}</td>
                </tr>
            {% endfor %}
        </table>
        <div>
            <p>Generated with <a href="https://gitlab.com/itounarti/pdf-benchmark">itounarti/pdf-benchmark</a></p>
        </div>
    </body>
</html>